@using TracNghiemOnline.Common
@{
    ViewBag.name = "Hệ Thống Trắc Nghiệm Online";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewBag.Title
    </title>
    <link rel="stylesheet" href="~/Assets/css/normalize.css">
    <link rel="stylesheet" href="~/Assets/css/style.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/Assets/css/materialize.min.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
</head>

<body class="body-login scrollbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper nav-green">
                <a href="/" class="brand-logo cursor left"><i class="material-icons">home</i></a>
                <div class="right">
                    <span class="title">Xin chào: @Session[UserSession.NAME]</span>
                    <a class='dropdown-trigger btn-menu' href='#' data-target='dropdown-menu'>Chức Năng<span class="material-icons">arrow_drop_down</span></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown-menu' class='dropdown-content'>
                        @if (@Session[UserSession.PERMISSION].ToString() == "2")
                        {
                            <li><a href="@Url.Action("EditTeacher")"><i class="material-icons">assignment_ind</i>Thông tin cá nhân</a></li>
                            <li><a href="@Url.Action("QuestionManager")"><i class="material-icons">format_align_left</i>Quản Lý Câu Hỏi</a></li>
                            <li><a href="@Url.Action("TestManager")"><i class="material-icons">event_available</i>Quản Lý Bài Thi</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("EditStudent")"><i class="material-icons">assignment_ind</i>Thông tin cá nhân</a></li>
                        }
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="@Url.Action("Logout")">Đăng xuất<i class="material-icons">close</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()

    <div class="col l12 footer" id="footer">
        <div class="row reset-margin">
            <div class="col l6 s6">
                <i id="website-copyright">@ViewBag.copyright</i>
            </div>
            <div class="col l6 s6 right-align">
                <i id="website-title">@ViewBag.name</i>
            </div>
        </div>
    </div>
    <script>
        $('.dropdown-trigger').dropdown();
    </script>
</body>

</html>
