@using TracNghiemOnline.Models
@{
    ViewBag.Title = "Danh Sách Điểm Sinh Viên Bài Thi " + ViewBag.test_code + " (" + ViewBag.total + ")";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var List = Model as List<ScoreViewModel>;
}

<div class="title-content">
    <span class="title">@ViewBag.Title</span>
</div>
<div class="content row col s12">
    <table class="striped centered" id="list-score">
        <thead>
            <tr>
                <th>Tài Khoản</th>
                <th>Tên</th>
                <th>Điểm</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var student in List)
            {
                <tr>
                    <td>@student.student.username</td>
                    <td>@student.student.name</td>
                    <td>@student.score.score_number</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    @*@using (Html.BeginForm("ExportToExcel", "Teacher", FormMethod.Post))
        {
            <input type="hidden" id="test_code" name="test_code" required value="@ViewBag.test_code" class="hidden">
            <input type="submit" value="Export to Excel" class="button" />
        }*@
    <button onclick="DownloadExcel()" class="btn  btn-success" style="margin-top:20px;">Excel Export</button>
</div>
<script>
    $('#list-score').DataTable({
        "language": {
            "lengthMenu": "Hiển thị _MENU_",
            "zeroRecords": "Không tìm thấy",
            "info": "Hiển thị trang _PAGE_/_PAGES_",
            "infoEmpty": "Không có dữ liệu",
            "emptyTable": "Không có dữ liệu",
            "infoFiltered": "(tìm kiếm trong tất cả _MAX_ mục)",
            "sSearch": "Tìm kiếm",
            "paginate": {
                "first": "Đầu",
                "last": "Cuối",
                "next": "Sau",
                "previous": "Trước"
            }
        }
    });
    $('select').select();
</script>
<script>
    function DownloadExcel() {
        $.ajax({
            type: "POST",
            data: {id: @ViewBag.test_code},
            url: "/Teacher/ExportToExcel",
            cache: false,
            success: function (data) {
                window.location = '/Teacher/Download';
            }
        });
    }
</script>
